<!doctype html>
<html>
<head>
     <title>Trebuchet with Flask!</title>
<style>

button{
	display: block;

	margin-left:10%;
	margin-right:10%;
	width: 80%;

	border-style: none;
	padding: 14px 28px;
	font-size: 16px;
	color: #FFFFFF;
}

button:active{
	position:relative;
	top:1px;
}

.btn1 {
	background-color: #38a832; 
	
}

.graphclass{
	margin-left: 5%;
	width: 25%;
	margin-top:5%;
}

.textclass{
	
	margin-right: 5%;
	margin-top: 5%;
{

body{
background-color: #000033;
color: #FFFFFF;
text-align:center;
list-style-position: inside;
}

</style>
</head>
<body>
{{msg}}

<form method="POST">
     <button type="submit" name="button1" class="button btn1" value="button1">Launch Button</button>
</form>

<h1> Trebuchet Launch Interface </h1>

<h2> How to Use </h2>

<ol class="body">
	<li> Press Launch Button </li>
	<li> Follow Launch Instructions </li>
	<li> (If Graph Not Updated, press CTRL + SHIFT + R</li>
</ol>

<img src="/static/images/refreshTestImage.png" alt="Lukas" class="graphclass">
<img src="/static/images/dataImage.png" alt="Lukas" class="textclass">
<meta http-equiv="refresh" content="5">

</body>
</html>
